* {
    margin:0;
}
 .header_left img{
height: 40px;
}
.user_Avatar {
border-radius: 50%;
width: 45px;
}
.header 
{
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
position: sticky;
top: 0;
background-color: white;
z-index: 100;
box-shadow: 0px 5px 8px -9px black;
}
.header_left {
    display: flex;
    align-items: center;
    justify-content:space-evenly;

}
.header_input {
    display: flex;
    align-items: center;
    background-color: gainsboro;
    padding: 10px ;
    margin-left: 10px;
    border-radius: 999px;
}
.header_input input {
    border: none;
background-color: transparent;
outline-width: 0;
}
.header_midle {
    display: flex;
    flex:1;
    justify-content: center;
}
.header_option .material-icons {
    font-size: xx-large;
    color: gray;
}
.header_option:hover .material-icons{
    color: #3414e7;
}
.header_option {
    display:flex;
     padding: 0 30px;
    cursor: pointer;
}
.header_option.active .material-icons {
    color: #3414e7;
}
.header_option.active{
    border-bottom: 4px solid #3414e7;
}
.header_option:hover{
    background-color: rgb(219, 213, 213);
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
border-bottom: none;

}
.header_Info {
    display: flex;
    align-items: center;
}
.header_Info h4{
    margin-left: 10px;
}
.header_right {
    display: flex;
    align-items: center;
}
.header_right .material-icons {
color: gray;
margin: 0 10px;
cursor: pointer;
}

/* sidebar start */

.sidebarraw {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.sidebarraw:hover {
    background-color: lightgrey;
    border-radius: 10px;
}
.sidebarraw h4 {
    margin-left: 20px;
    font-weight: 600;
}
.sidebarraw .material-icons {
    font-size: xx-large;
    color: rgb(53, 53, 252);
}
.story {
position: relative;
background-repeat: no-repeat;
background-size: cover;
width: 120px;
height: 200px;
box-shadow: 0px 5px 17px -7px rgba(0,0,0,0.75);
border-radius: 10px;
margin-right: 10px;
cursor: pointer;
transition: transform 100ms ease-in;
}
 .story:hover {
transform: scale(1.07);
 }
 .story_Avatar {
    margin:10px;
 }
 .story h4 {
    position: absolute;
    bottom: 20px;
    left:20px;
    color: white;
 }
 .storyreels {
    padding: 10px 0;
    display: flex;
 }
 .main_body {
    display:flex;
 }
  body {
    background-color: #f1f2f5;
  }
  .feed {
    flex:1;
    padding-inline: 30px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sidebar {
    padding: 25px 10px;
  }

  /* massage start */
  .massagestart_main {
    display: flex;
    margin-top: 30px;
    background-color:white;
    border-radius:15px;
    /* position: absolute; */
    flex-direction: column;
    box-shadow:0px 5px 7px -7px black;
    width: 100%;
  }
  .massage-top {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom:solid 1px rgba(224, 221, 221, 0.664);
  }
  .massage-top form { 
    flex: 1;
    display: flex;
  }
  .massage-top form input {
    flex: 1;
    padding: 15px 20px;
    border:none;
    outline-width: 0;
    margin: 0px 10px;
    background-color: #eff2f5;
    border-radius: 999px;

  }
  .massage-bottom {
    display:flex;
    /* align-items: center;
    padding:10px 15px; */
    justify-content: space-evenly;
    

  }
  .massage-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin:5px ;
    padding: 8px;
    color: gray;
   
  }
  .massage-option h3 {
   margin-left: 10px;
   font-size: medium;
 
    /* position: absolute; */

  }
  .massage-option:hover{
  background-color:gainsboro ;
    border-radius:20px ;
  }
  /* post start */

  .post-container {
    width: 100%;
   border-radius: 15px;
    background-color: white;
    box-shadow:0px 5px 7px -7px black;;
    margin-top: 20px;
  }
  .post-image img {
    
    width: 100%;
  }
  .post-top {
position: relative;
    display: flex;
    align-items: center;
    padding:15px;
   
  }
  .post-avtar {
    margin-right: 10px;
  }
  .post-topinfo h3 {
font-size: large;
  }
  
 .post-topinfo p {
font-size: small;
color: gray;
 }

 .post-maasage {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
 }
 .post-icons-main {
 display: flex;
  justify-content: space-evenly;
 padding: 15px;
  border-top:solid 1px lightgray ;
  padding-top: 10px;
  font-size: medium;
  color: gray;
  cursor: pointer;
 }
 .post-icons {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;

 }
  .post-icons p{
    margin-left: 10px;
  }

  .post-icons:hover {
    background-color: #e1e3e6;
    border-radius: 15px;
  }
